{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "consistent-return": 0,
    "no-shadow": 0,
    "global-require": 0,
    "@typescript-eslint/no-shadow": 0
  }
}
